
<!-- Inclui o layout do cabeçário-->
<%- include('../headerLayout.ejs')%>


<% if(mensagem != null){%>
  <div class="row">
  <div  class="alert alert-info" role="alert">
            
                  <%=mensagem%>
                  
              
      </div>
  </div>
<%}%>

<a class="btn btn-primary" href="/users/create"> Adicionar Novo Usuário</a> 
<br>   <br>     

<div class="table-responsive-sm">
    <!-- Aqui é feito o loop e vai listando os usuários-->
    
       <table class="table table-striped table-dark">
            <thead >
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
       
       
       <% for(data of usuarios){ %>
              <tr>
                <th scope="row"><%=data.usuarioid %></th> 
                <td><%= data.email %></td>
                <td><a class="btn btn-info"href="/users/delete/<%=data.usuarioid%>">Deletar</a>
                </td>
              </tr>
          <% } %>                           
            </tbody>
        </table>

    </div>
       
<script>
    $('#usuarios').addClass('active');
</script>

<!-- Inclui o layout de rodapé-->
<%- include('../footerLayout.ejs')%>



  