

<%- include('../headerLayout.ejs')%>
<% if(mensagem != null){%>
    <div id="addAlert" class="alert alert-dark fade show alert-dismissible" role="alert">
        Agencia cadastrada com sucesso!
    </div>
<%}%>
<a href="/agencias/create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Adicionar Agencia</a>
<br><br>


<table class="table table-striped table-dark">
        <thead >
          <tr>
            <th scope="col">Número Agencia</th>
            <th scope="col">Cidade</th>
            <th scope="col">Estado</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        <% for(data of agencias){ %>
          <tr>
            <th scope="row"><%=data.agencia_nn%></th>
            <td><%=data.agencia_cid%></td>
            <td><%=data.agencia_est%></td>
            <td><a href="/agencias/details/<%=data.agencia_id%>" class="btn btn-info" >Detalhes
            </a></td>
          </tr>
          <% } %>
        </tbody>
      </table>




    <br>  <br>

   
</div>
<br><br>
<script>

    setTimeout(function() {
        $('#addAlert').fadeOut('slow');}, 3000
      );
</script>
<%- include('../footerLayout.ejs')%>