
<%- include('../headerLayout.ejs')%>
<% if(mensagem != null){%>
    <div id="addAlert" class="alert alert-dark fade show alert-dismissible" role="alert">
        Agencia cadastrada com sucesso!
    </div>
<%}%>
<a href="/agencias/create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Adicionar Agencia</a>
<br><br>
<div class="row">
    <!-- Aqui é feito o loop e vai listando as incubadoras-->
    <% for(data of agencias){ %>

    <div class="col-lg-4 col-md-6 col-sm-6 d-flex align-items-stretch">
        <div class="card" style="min-width: 100%; margin-bottom: 6px">
            <div class="card-body">
                <h4 style="font-size:22px;" class="card-title">Agencia
                   
                </h4>
                <p class="card-text">
                    <form action="/agencias/details/<%= data.agencia_id %>" method="GET"> 
                        
                        <label><b style="color: beige;">Numero:</b></label>
                                       <label><%=data.agencia_nn%></label>
                                        <br> 
                        <label><b style="color: beige;">Cidade:</b></label>
                                        <label><%=data.agencia_cid%></label>
                                         <br> 
                        <label><b style="color: beige;">Estado:</b></label>
                                         <label><%=data.agencia_est%></label>
                                          <br> 
                        
                        
                       
                       
                        <label style="color:#cf6fc5;"><%= data.cidade %></label>
                    
                        <br>
                       
                        <button type="submit" class="btn btn-info"  style="position: absolute; bottom: 1.25em; right: 1.25em; color: azure" class="float-right btn waves-effect waves-light azul float-right">Detalhes
                        </button>
                    
                    </form> 
                </p>
            </div>
        </div>
    </div>

    <br>  <br>

    <% } %>
</div>
<br><br>
<script>

    setTimeout(function() {
        $('#addAlert').fadeOut('slow');}, 3000
      );
</script>
<%- include('../footerLayout.ejs')%>